.search-admin{
    min-height: 100vh;
}
.search-container{
    position: relative;
    z-index: 2;
    /* max-width: 40vw; */
    background-color: #d9d9d9 ;
    border-radius: 2.5vh 2.5vh 2.5vh 20px ;
    max-height: 50vh;
    flex-flow: column !important;  
}

.search-container > input{
    width: 50vw;
    padding: 0 20px;
    min-height: 40px;
    border-radius: 2.5vh;
}
.clear-btn{
    position: absolute;
    right: 15px;
    width: 15px;
    height: 15px;
    background: url(../../assets/icons/x.png) center center/cover no-repeat;;
    background-color: #d9d9d9 ;
    border-radius: 50%;
    cursor: pointer;
    border: 1px grey solid;
}
.clear-btn{
    top: 15px;   
}

.options-container{ width: 100%; }
.settings-btn-container{
    position: absolute;
    left: -50px;
    top: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
}
.settings-btn{
    width: 100%;
    height: 100%;
    background: url(../../assets/icons/settings.png) center center/cover no-repeat;;
    border-radius: 50%;
    cursor: pointer;
}
.settings-btn:hover{
    opacity: 0.7;
}
.search-btn-container{
    position: absolute;
    right: -50px;
    top: 0;
    width: 40px;
    height: 40px;
    background-color:#2fadad ;
    border-radius: 50%;
}
.search-btn-container:hover{
    background-color:#6adddd ;
}
.search-btn{
    all: unset;
    width: 25px;
    height: 25px;
    font-size: 10px;
    background: url(../../assets/icons/search.png) center center/cover no-repeat;
}
.term{
    margin: 5px 0;
}

@media only screen and (max-width: 750px) {
    .search-container {
        max-height: 70vh;
        }
        .search-container > input{
            padding: 0 20px;
            width: 78vw;
        }
        .search-btn-container{
            position: unset;
        }
        .settings-btn-container{
            position: unset;
        }
        .search-btn{
            background: url(../../assets/icons/search.png) center center/cover no-repeat;
        }
        .search-admin{
            width: 100vw;
        }
    }
